html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

/*colのガーター変更*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  position: relative;
  width: 100%;
  padding-right: 0rem;
  padding-left: 0rem;
}
/*colのガーター変更ここまで*/

body {
  line-height: 1.8;
  letter-spacing: 0.18em;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: white;
}

/*スクロールバー*/
::-webkit-scrollbar {
  width: 1rem;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  background-color: rgba(247, 247, 247, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background: linear-gradient(25deg, #9556FF, #0B0F23, #0B0F23);
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0);
}
/*スクロールバーここまで*/

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding-left:0.2rem;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  color: white;
}
a:hover{
  background:transparent;
  text-decoration: none;
  color: #ffa501;
  border-color: #ffa501;
}
.underline{
  text-decoration: underline;
}
.underline:hover{
  text-decoration: underline;
}


/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #0B0F23, #ffffff, #0B0F23);
  background-image: -moz-linear-gradient(left, #0B0F23, #ffffff, #0B0F23);
  background-image: -ms-linear-gradient(left, #0B0F23, #ffffff, #0B0F23);
  background-image: -o-linear-gradient(left, #0B0F23, #ffffff, #0B0F23); 
}

/* form要素のcss全リセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
/* form要素のcss全リセットここまで */
/*リセットここまで*/

/* font-size rem指定用に変換 */
html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.5em（15pxと同等のサイズ）に設定 */
  font-size: 1.5em;
}

h1{
  font-size: 2.0rem;
  padding-bottom: 0.6rem;
  padding-left: 0.3rem;
}
h2{
  font-size: 2rem;
  border-top: solid 1px white;
  display:  inline-block;
  padding-bottom: 0.6rem;
  padding-left: 0.3rem;
  opacity: 0.5;
}
h3{
  font-size: 1.6rem;
}
h5{
  font-size: 1.5rem;
}
a{
  font-size: 1.8rem;
}
p{
  font-size: 1.6rem;
}
.f-16{
  font-size: 1.6rem;
}
.text-small{
  font-size: 1.1rem;
}
/* font-size rem指定用に変換ここまで */

/*パディングとマージン*/
.mt-m10{
  margin-top: -5rem;
}
.mt--10{
  margin-top: -10rem;
}
.mt-6{
  margin-top: 6rem;
}
.mt-7{
  margin-top: 7rem;
}
.mt-8{
  margin-top: 8rem;
}
.mb-6{
  margin-bottom: 6rem;
}
.mb-7{
  margin-bottom: 7rem;
}
.mb-8{
  margin-bottom: 8rem;
}
.mb-10{
  margin-bottom: 10rem;
}
.mb-15{
  margin-bottom: 15rem;
}
.mt-10{
  margin-top: 10rem;
}
.mtb-8{
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.mtb-10{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.mtb-12{
  margin-top: 12rem;
  margin-bottom: 12rem;
} 
.mtb-15{
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.pt-2-5{
  padding-top: 2.5rem;
}
.pt-5-5{
  padding-top: 4rem;
}
.pt-6{
  padding-top: 6rem;
}
.pt-7{
  padding-top: 7rem;
}
.pt-8{
  padding-top: 8rem;
}
.pt-9{
  padding-top: 9rem;
}
.pt-10{
  padding-top: 10rem;
}
.pb-6{
  padding-bottom: 5rem;
}
.pb-7{
  padding-bottom: 7rem;
}
.pb-8{
  padding-bottom: 8rem;
}
.pb-10{
  padding-bottom: 10rem;
}
.pt-15{
  padding-top: 15rem;
}
.pt-25{
  padding-top: 25rem;
}
.pb-15{
  padding-bottom: 15rem;
}
.ptb-6{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.ptb-7{
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.ptb-10{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.ptb-12{
  padding-top: 12rem;
  padding-bottom: 12rem;
} 
.ptb-15{
  padding-top: 15rem;
  padding-bottom: 15rem;
}
/*パディングとマージンここまで*/

/*空間を作る*/
.empty-space-3rem{
  width: 100%;
  height: 3rem;
}
.empty-space-0rem{
  width: 100%;
  height: 0rem;
}
/*空間を作るここｍで*/

/*widthとheight*/
@media (min-width: 1200px){
  .width-90{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.interval{
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 1199px){
  .width-90{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .interval{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.width-100{
  width: 100% !important;
}
.height-100{
  height: 100%;
}
/*widthとheightここまで*/

/*line height*/
.line-height-4{
  line-height: 4;
}
/*line heightここまで*/

/* イメージ要素をウィンドウサイズより大きくしない */
img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
/* イメージ要素をウィンドウサイズより大きくしないここまで */

/*要素を真ん中に*/
.box-center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-top-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*要素を真ん中にここまで*/

/*カラー*/
.d-shadow{
  filter: drop-shadow(0.25rem 0.25rem 0.5rem #0B0F23);
}
.d-shadow-white{
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(255, 255, 255, 1));
}
.bg-footer{
  background-color: rgba(11, 15, 35, 1);
}
.bg-transparent{
  background-color: rgba(0, 0, 0, 0);
}
.bg-gradation1{
  background: -moz-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: -webkit-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: linear-gradient(25deg, #9556FF, #0B0F23, #0B0F23);
}
.bg-gradation2{
  background: -moz-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: -webkit-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: linear-gradient(25deg, #9556FF, #5a4f3b, #442352);;
}
.bg-gradation3{
  background: -moz-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: -webkit-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: linear-gradient(335deg, #9556FF, #0B0F23, #0B0F23);
}
.bg-gradation4{
  background: -moz-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: -webkit-linear-gradient(65deg, #9556FF, #0B0F23, #0B0F23); 
  background: linear-gradient(205deg, #9556FF, #0B0F23, #0B0F23);
}
.bg-picture{
  background-image: url(../material/paper01.svg);
  background-size: cover;
}
.clr-white{
  color: rgba(255, 255, 255, 1) !important;
}
.clr-black{
  color: rgba(0, 0, 0, 1);
}
.border-black{
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}
.opacity-0{
  opacity: 0;
}
/*カラーここまで*/

.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.none{
  display: none;
}
.relative{
  position: relative;
}
.relative-center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.absolute-centerX{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* headerここから */
/* モバイル用 */
header{
  position: fixed;
  z-index: 998;
  width: 100%;
  height: auto;
  /* 背景色は任意に変更 */
  background-color: rgba(11, 15, 35, 0.9);
}
.header-contents{
  width: 95%;
  height: 9vh;
  margin-left: auto;
  margin-right: auto;
}
header .logo{
  float: left;
  /* 以下、画像を小さくしてヘッダーの上下真ん中に配置(消しても良い) */
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header .navigation {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 100%;
}
.header-mobile{
  display: block;
}
.header-desktop{
  display: none;
}
.nav-mobile{
  /* ナビは初期非表示 */
  display: none;
  width: 100%;
  position: fixed;
  top: 9vh;
  z-index:998;
  /* 任意のナビゲーションカラー */
  background-color: rgba(11, 15, 35, 0.9);
}
.nav-mobile li{
  line-height: 4;
}
nav li{
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
nav a{
  display: block;
  padding-left: 2rem;
  color:white;
}
nav a:hover{
}
.nav-cover{
  display: none;
  position: fixed;
  top: 9vh;
  background-color: rgba(150, 148, 255, 0.2);
  /* 画像を表示させたい時用 */
  background-size: cover;
  height:100vh;
  width: 100%;
  z-index:997;
}
/* モバイル用ここまで */

/* PC用 */
@media (min-width: 768px){
}

@media (min-width: 1024px){
  .header-mobile{
    display: none !important;
  }
  .header-desktop{
    display: block;
  }
  .header-contents{
    height: auto;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10% 5% 85%;
  }
  header .logo{
    height: 70%;
    /* position:absoluteにするとなぜがロゴがheader内に
    収まる。header-contentsのheightはautoなので通常height:90%は
    auto要素を参照できないはず。。。
    今回同階層gridでナビ要素をmin-height:10vhとっている。
    もしかしたらgridはナビのheight要素を参照しているのかも
    結果オーライなんだけど */
    position: absolute;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  nav{
    width: 100%;
    min-height: 10vh;
    position: static;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    display: block;
    background-color: rgba(0, 0, 0, 0);
  }
  nav ul{
    position: relative;
    text-align: right;
  }
  nav ul li{
    display: inline;
    margin-right: 2rem;
    border-bottom: none;
  }
  nav a{
    display: inline;
    font-size: 1.8rem;
    padding-left: 0;
  }
  .box-center-menu{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
/* PC用ここまで */
/* headerここまで */

/*googlemap*/
.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/*googlemapここまで*/


/*新着情報*/
@media (max-width: 576px){
  .insta-card img{
    height: 10rem;
    width: 100%;
  }
}
@media (min-width: 576px){
  .insta-card img{
    height: 20rem;
    width: 100%;
  }
}
@media (min-width: 1024px){
  .insta-card img{
    height: 25rem;
    width: 100%;
  }
}
/*新着情報ここまで*/


/*タイトル画面*/
.vhvw-100{
  width: 100%;
  height: 100vh;
}
.title-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
}
/*タイトル画面ここまで*/

/*ビデオ*/
video{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter:contrast(130%);
}

@media (max-width: 638px){
  .movie-first{
    width: 300px;
    height: 330px;
  }
}

@media (min-width: 639px){
  .movie-first{
    width: 514px;
    height: 500px;
  }
}

  @media (min-width: 900px){
    .movie-first{
      width: 800px;
      height: 700px;
    }
  }

  @media (max-width: 576px){
    h1{
      font-size: 1.8rem;
    }
    h2{
      font-size: 1.8rem;
    }
    p{
      font-size: 1.4rem;
    }
    .title-logo{
      height:23rem;
      display: block;
    }
    a{
      font-size: 1.4rem;
    }
  }
  /*ビデオここまで*/


  .footer-logo{
    height: 10rem;
  }

  /*ライトセーバーナビ*/

  /*toggle-icon*/
  .toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
  }

  .toggle-icon .bar {
    display: block;
    width: 2.8em;
    height: 0.2em;
    margin: 0.9em;
    border-right: 1.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
  }
  .toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  /*pushed*/
  .pushed .toggle-icon {
    margin: -3.2em 0 0 0.7em;
  }

  .pushed .bar:nth-of-type(1) {
    opacity: 0;
  }

  .pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
  }

  .pushed .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
  }


  .pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
  }
  .pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
  }
  /*ライトセーバーナビ*/

  /*googleform*/
  .google-form{
    width: 100%;
    height: 100rem;
  }
/*googleform*/