
@media (max-width: 576px){
  /*実績カード*/
  .production-container {
    height: 35rem;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 20px;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: -20px;
  }
  .item {
    flex: 0 0 200px;
    margin-right: 2rem;
    white-space: normal;
    word-wrap: break-word;
  }
  .item > a {
    display: block;
    padding: 1em 1.4em;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
  }
  /* padding-rightが描画されないのを修正 */


  .production-container .menu .item a{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    color: white;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem #0B0F23);
    height: 100%;
    width: 100%;
  }

  .production-container .menu .item img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    filter: brightness(60%) contrast(130%);
  }
  /*実績カードここまで*/
}



/*sec3*/
.sec-3-picture{
  width: 100%;
}
/*sec3ここまで*/

@media (min-width: 577px){
  /*実績カード*/
  .production-container {
    height: 50rem;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 20px;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: -20px;
  }
  .item {
    margin-right: 2rem;
    flex: 0 0 250px;
    white-space: normal;
    word-wrap: break-word;
  }
  .item > a {
    display: block;
    padding: 1em 1.4em;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
  }
  /* padding-rightが描画されないのを修正 */


  .production-container .menu .item a{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    color: white;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem #0B0F23);
    height: 100%;
    width: 100%;
  }

  .production-container .menu .item a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    filter: contrast(150%);
  }

  .production-container .menu .item img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    filter: brightness(60%) contrast(130%);
  }
  /*実績カードここまで*/
}



@media (min-width: 1024px){
  /*実績カード*/
  .production-container {
    height: 60rem;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 20px;
  }
  .item {
    margin-right: 2rem;
    flex: 0 0 350px;
    white-space: normal;
    word-wrap: break-word;
  }

  /*実績カードここまで*/
}


@media (min-width: 1300px){
  /*実績カード*/
  .production-container {
    height: 60rem;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 20px;
  }
  .item {
    margin-right: 2rem;
    flex: 0 0 400px;
    white-space: normal;
    word-wrap: break-word;
  }

  /*実績カードここまで*/
}

/*料金プラン*/
.plan{
  height: 65rem;
}

@media (max-width: 576px){
  .plan{
    height: auto;
  }
}
.width-90-plan{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
/*料金プラン*/